* {
    box-sizing: border-box;
    @font-face {
        font-family:SpaceMono-Bold;
        src: url(SpaceMono-Bold.ttf);
    }
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
}
header {
    display: flex;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 17%, 1);
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
h1,h2 {
    color: #ffffff;
}
.menu {
    display: flex;
    align-items: center;
    margin-left: 34%;
    height: 60px;
    width: 607px;
    border-radius: 0px;
    
}
.p0 {
    float: right;
    position: relative;
    color: #ffffff;
    margin-left: 6px;
}
p,h1,h2{
    display:inline-block;

   }
   
p:hover {
    text-decoration: underline;
    text-decoration-color: rgb(151, 82, 241);
    text-decoration-thickness: 1px;
   }

.mom {
    width: 100%;
    display: flex;
}
.div1 {
    width: 50vw;
}
.img-bg {
    width: 100%;
    height: 100%;
}
.mom2,.end {
    margin-left: 115px;
}
.mom2 {
    display: flex;
    justify-content: space-around;
}
.column2,.column3 {
    margin-left: 115px;
}
.end {
    border-top: 1px #ffffff solid;
}
.form-input,.form-button {
    height: 46px;
    width: 330px;
    border-radius: 20px;
}
.form-button {
    height: 46px;
    width: 330px;
    padding: 0px 50px 0px 50px;
    margin-top: 8%;
    background-color: hsla(266, 100%, 67%, 1);
    border: none;
}
.form-input {
    background-color: hsla(0, 0%, 100%, 1);
    margin-top: 4%;
    display: flex;
    align-items: center;
}
.form-txt{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color:hsla(0, 0%, 100%, 1);
}
p {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: hsla(0, 0%, 80%, 1);

}
.logo {
   height: 32px;
   width: 32px;
}
.logo1,.logo01 {
   width: 244px;
   display: flex;
   align-items: center;
}
.logo1 {
margin-left: 2%;
}
.logo01 {
    margin-top: 24px;
}
.h1 {
    margin-left: 12px;
}
.menu1 {
    width: auto;
    height: 46px;
    background-color: hsla(0, 0%, 17%, 1);
    display: flex;
    align-items: center;
}
.li1,.li3 {
    border: none;
    background-color: hsla(0, 0%, 17%, 1);
}
.li1 {
    margin-left: 50px;
}
.li2 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);
}
.sign-up {
    border: none;
    height: 60px;
    width: 152px;
    left: 455px;
    top: 0px;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    background-color:  hsla(266, 100%, 67%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.sign-up1 {
    margin-right: 6px;
}
h1,.form-txt,form {
    margin-left: 12%;
}
input {
    border: none;
}
.form-icon {
    margin-left: 20px;
}
.p00 {
    margin-top: 10.4%;
}
.subscribe {
    height: 60px;
    width: 420px;
    border: none;
    border-radius: 20px;
    padding: 16px 0px 16px 20px;
    background-color: hsla(0, 0%, 100%, 1);
    display: flex;
    align-items: center;
    margin-top: 6%;
}
.sub-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;
    width: 179px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    border: none;
    margin-left: 57px;
}
.end {
    margin-top: 4%;
    width: 89%;
}
.sub-buttontxt,.form-buttontxt {
    color: #ffffff;
}
h1 {
    height: 56px;
    width: 460px;
    font-family: Work Sans;
    font-size: 51px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);

}
h2 {
    font-family: SpaceMono-Bold;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
h2,h1:hover {
    text-decoration: underline;
    text-decoration-color: rgb(151, 82, 241);
    text-decoration-thickness: 1px;
}
